body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-icon {
    position: fixed;
    top: 1em;
    left: 1.9em;
    z-index: 3;
    cursor: pointer;
}
.menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    z-index: 2;
    color: white;
    padding: 2em;
    padding-top: 4em;
    transition: all 400ms ease-in-out;
}
.menu.closed {
    transform: translateX(-100%);
}
.menu-inner {
    overflow: auto;
    height: 100%;
}
.menu h1 {
    margin-top: 0.4em;
}
.menu h2 {
    margin-top: 2em;
}

.menu input {
    background: none;
    color: white;
    border: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    width: 100%;
    margin-bottom: 1em;
}

.menu button, .menu .button {
    background: white;
    color: black;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    padding: 0.4em 0.7em;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.menu button:hover, .menu .button:hover {
    background: rgb(230, 230, 230);
}
.menu button:active, .menu .button:active {
    background: rgb(196, 196, 196);
}

.menu a {
    color: white;
}

.examples a {
    display: block;
    margin: 1em 0;
}

.enter-ar {
  font-family: sans-serif, monospace;
  font-size: 13px;
  width: 100%;
  font-weight: 200;
  line-height: 16px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.a-enter-ar-button {
  display: none;
}

.enter-ar-button {
  background: rgba(0, 0, 0, 0.20) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='108' height='62' viewBox='0 0 108 62'%3E%3Ctitle%3Eaframe-armode-noborder-reduced-tracking%3C/title%3E%3Cpath d='M96,0H12A12,12,0,0,0,0,12V50A12,12,0,0,0,12,62H96a12,12,0,0,0,12-12V12A12,12,0,0,0,96,0Zm8,50a8,8,0,0,1-8,8H12a8,8,0,0,1-8-8V12a8,8,0,0,1,8-8H96a8,8,0,0,1,8,8Z' fill='%23fff'/%3E%3Cpath d='M43.35,39.82H32.51L30.45,46H23.88L35,16h5.73L52,46H45.43Zm-9.17-5h7.5L37.91,23.58Z' fill='%23fff'/%3E%3Cpath d='M68.11,35H63.18V46H57V16H68.15q5.31,0,8.2,2.37a8.18,8.18,0,0,1,2.88,6.7,9.22,9.22,0,0,1-1.33,5.12,9.09,9.09,0,0,1-4,3.26l6.49,12.26V46H73.73Zm-4.93-5h5a5.09,5.09,0,0,0,3.6-1.18,4.21,4.21,0,0,0,1.28-3.27,4.56,4.56,0,0,0-1.2-3.34A5,5,0,0,0,68.15,21h-5Z' fill='%23fff'/%3E%3C/svg%3E") 50% 50% no-repeat;
}

.enter-ar-button {
  background-size: 90% 90%;
  border: 0;
  bottom: 0;
  cursor: pointer;
  min-width: 58px;
  min-height: 34px;
  /* 1.74418604651 */
  /*
    In order to keep the aspect ratio when resizing
    padding-top percentages are relative to the containing block's width.
    http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
  */
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  left: 0;
  transition: background-color .05s ease;
  -webkit-transition: background-color .05s ease;
  z-index: 1;
  border-radius: 8px;
}

.enter-ar-button {
  background-size: 100% 90%;
  margin-right: 10px;
  border-radius: 7px;
}

.enter-ar-button:active,
.enter-ar-button:hover {
  background-color: #666;
}